*.pyc
*.png
*.pdf
test*
!tests/
!tests/test_sample_count_alignment.py
*~
R1array*
R2array*
R3array*
Storage*
mldc_tdi_withnoise*
SGWB_withnoise*
noiseless_mldc*
WSL*
cython_response.c
cython_response.html
/Prev
/.git
mldcparams*
owndata*
eogtest*
bayesfactorplot*
test*
!tests/
!tests/test_sample_count_alignment.py
vectest*
dwdfg_powerlaw_params.ini
params-milky-way.ini
fast-params.ini
params(copy).ini
WD_Galactic_Foreground.ipynb
*checkpoint.ipynb
quick_*
build/*
params_run*
BLiP.egg-info
blip.egg-info
/.venv
/.venv_sys
